<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('bundles/tiberiademain/img/icone.png')}}" />
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <!-- Ajoute fancyBox qui permet de voir les images en plus grand-->
        <link rel="stylesheet" href="{{ asset('bundles/tiberiademain/js/fancybox/source/jquery.fancybox.css')}}" type="text/css" media="screen" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <link href="{{ asset('bundles/tiberiademain/css/styles.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('bundles/tiberiademain/js/fancybox/source/jquery.fancybox.pack.js')}}"></script>

        <script src="script.js"></script>

        <!-- Javascript -->
        <script type="text/javascript">
            $(document).ready(function () {
                $(".fancybox").fancybox({
                    openEffect: 'elastic',
                    closeEffect: 'elastic',
                    width: '50%',
                    height: '70%',
                    helpers: {
                        title: {
                            type: 'inside'
                        }
                    }
                });
            });
        </script>
        <title>{% block title %}Tibériade{% endblock %}</title>
    </head>
    <body> 
        <header class="container">
            {% block header %}
                <div class="">
                    <!--<img id="logo" class="center-block img-responsive" src="{#{{ asset('bundles/tiberiademain/img/logo2.jpg')}}#}" alt="Logo de tibériade">-->
                    <h1><img src="{{ asset('bundles/tiberiademain/img/logo2.jpg')}}" alt="Logo de tibériade"/></h1>
                </div>
            {% endblock %}  
        </header>
        <div class="container-fluid">
            <nav>
                <aside>
                    <div class="slogan">
                        Un lieu d'accueil,<br>
                        Un lieu d'écoute,<br>
                        Un lieu d'échange ...
                    </div>
                    <ul>
                        <li class='active'><a href="{{ path('index') }}"><span>Accueil</span></a></li>
                        <li><a href="{#{{ path('histoire') }}#}"><span>Notre histoire</span></a></li>
                        <li class='has-sub'><a href="{#{{ path('manifs') }}#}"><span>Manifestations</span></a>
                            <ul>
                                <li><a href="{#{{ path('marches') }}#}"><span>Marches</span></a></li>
                                <li><a href="{#{{ path('conferences') }}#}"><span>Conférences</span></a></li>
                                <li><a href="{#{{ path('marcheNoel') }}#}"><span>Marché de Noël</span></a></li>
                                <li><a href="{#{{ path('sorties') }}#}"><span>Sorties</span></a></li>
                                <li><a href="{#{{ path('autres') }}#}"><span>Autres</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a href="{#{{ path('jeunes') }}#}"><span>Jeunes</span></a>
                            <ul>
                                <li><a href="{#{{ path('enfants') }}#}"><span>Enfants</span></a></li>
                                <li><a href="{#{{ path('ados') }}#}"><span>Jeunes</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub"><a href="{#{{ path('espace') }}#}"><span>Espace Tibériade</span></a>
                            <ul>
                                <li><a href="{#{{ path('cafe') }}#}"><span>Pause Café</span></a></li>
                                <li><a href="{#{{ path('livres') }}#}"><span>Coin Livre</span></a></li>
                            </ul>
                        </li>
                        <li class='last'><a href="{#{{ path('contact') }}#}"><span>Contact</span></a></li> 
                            {% if app.user %}
                                {% if app.user.role == 'admin' %}
                                <li><a href="{{ path('admin') }}">Administration</a></li>
                                {% endif %}
                            {% endif %}
                    </ul>
                    <div class="slogan">
                        “À Tibériade, tu trouveras
                        <br>
                        un accueil, une présence,
                        <br>
                        une parole, un livre qui
                        <br>
                        peuvent répondre à tes
                        <br>
                        questionnements... ”
                    </div>
                </aside>
            </nav>


            <section>

                <div id="contenu">
                {% block body %}{% endblock %}
            </div>

        </section>
    </div>
    <footer>
        {% block footer %}
            {% if app.user %}
                © 2017 Tibériade - Tous droits réservés - <a href="{{ path('logout')}}">Déconnexion</a>
            {% else %}
                © 2017 Tibériade - Tous droits réservés - <a href="{{ path('connexion')}}">Connexion</a> 
            {% endif %}                
        {% endblock %}
    </footer>
</body>
</html>