{% extends 'TiberiadeMainBundle::general.html.twig' %}

{% block title %}
    {{ parent() }} - Admin - Articles
{% endblock %}

{% block body %}
    <h2>Gérer les articles : </h2>
    <a href='{{ path('ajouterArticle')}}'><img src="{{asset('bundles/tiberiademain/img/addition-icon.png')}}">Ajouter un article</a>
        {% if articles is empty %}       
        <h3>---- Aucun article n'a été trouvée ----</h3>       
    {% endif%}
    <table>
        <tr>
            <th>Titre</th>
            <th>Résumé de l'article</th>
            <th>Actions</th>
        <tr>
        {% for article in articles %}

        <tr>
            <td>{{ article.getTitre() }}</td>
            <td>{{ article.getResume() }}</td>
            <td>
                <a href='{#{{ path('modifierArticle',{'id':annonce.id})}}#}'>
                    <img src="{{ asset('bundles/tiberiademain/img/pencil-icon.png') }}" alt='bouton modifier'>
                </a>
                <a href='{#{{ path('supprimerArticle',{'id':annonce.id})}}#}'>
                    <img src="{{ asset('bundles/tiberiademain/img/close-icon.png') }}" alt='bouton supprimer'>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}