{% extends 'TiberiadeMainBundle::general.html.twig' %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock %}

{% block body %}
    <h2>Se connecter : </h2>    
    {% block form_row %}
    <form action="{{ path('connexion') }}"  method="post">
            {% if error %}
                <div>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <div>
                Login : <input type="text" name="_username" id="username" value="{{ last_username }}" />
            </div>
            <div>
                Mot de passe : <input type="password" name="_password" id="password" />
            </div>
            <div>
                <input type="submit" name="connexion" value="Connexion" />
                <br>
                <a href="{{ path('creerCompte')}}">Créer un compte</a>
            </div>
        </form>
    {% endblock %} 
{% endblock %}