{% extends 'TiberiadeMainBundle::general.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <div id="contentIndex">
        <div id="leftContent">
            <h2>Actualités</h2>
            {% for article in articles %}
                <article>
                    <div class="contenuArticle">
                        <img src="{{ asset('bundles/tiberiademain/img/actus/' ~ article.urlImage) }}" alt="">
                        <div class="resume">
                            <h3>{{ article.datePublication|date('d/m/Y')}} - {{article.titre }}</h3>
                            <p>{{ article.description}}</p>
                        </div>
                    </div>
                </article>
            {% endfor%}                        
        </div>
        <div id="rightContent">
            <div id="ouverture">
                <h2>Horaires d'ouverture</h2>
                <h4>Jeudi matin de 10h à 12h</h4>
                <h4>Samedi matin de 10h à 12h</h4>
            </div>
            <div id="bientot">
                <h2>Bientôt à Tibériade</h2>
            </div>
        </div>
    </div>
{% endblock %}